hr {
  border-color: rgb(92, 112, 117);
  border-width: 2px;
}

p {
  font-size: 16px;
}

a {
  color: #ffcb00;
}

a:hover {
  color: #687be6;
}

.jumbotron {
  text-align: center;
  background-color: #969393;
  color: #ffcb00;
  padding: 2%;
}

h2 {
	margin-top: 0;
	font-family: sans-serif;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	color: #000000;
	line-height: 2;
	width: 100%;
}

body {
  padding-top: 50px;
  font-family: 'Georgia', serif;
  background-color: #6b92ff;
  color: #000000;
}

.legend, .temporal-legend {
   		padding: 6px 10px;
    		font: 12px/12px Arial, Helvetica, sans-serif;
   		background: rgb(255, 255, 255);
    		background: rgba(255,255,255,0.8);
    		box-shadow: 0 0 15px rgba(0,0,0,0.2);
    		border-radius: 5px;
	}
	#legendTitle {
  	  	text-align: center;
   	 	margin-bottom: 10px;
   		font-variant: small-caps;
	}
	.symbolsContainer {
    		float: center;
	}
	.legendCircle {
     	border-radius:50%; 
     	border: 1px solid #687be6; 
     	background: #ffcb00;
	 	display: inline-block;
	}
	.legendValue {
    	position: absolute;
   		right: 8px;
	}
  